###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

snippet article "article" !b
@article{${1:id},
    author    = {},
    title     = {},
    journal   = {},
    %volume   = {},
    %number   = {},
    %pages    = {},
    year      = {},
    %month    = {},
    %note     = {},
}
endsnippet

# vim:ft=snippets:
